# Variables d'environnement Backend
# NE PAS committer ce fichier ! Copier en .env et remplir.

NODE_ENV=development
PORT=3000

# MongoDB
MONGODB_URI=mongodb://todoapp:changeme@localhost:27017/medishop_todos?authSource=medishop_todos

# JWT
JWT_SECRET=votre_secret_jwt_super_securise_min_32_chars
JWT_EXPIRES=7d

# CORS
FRONTEND_URL=http://localhost:3001
