##############################################
# ansible.cfg - Configuration Ansible
##############################################

[defaults]
inventory          = inventory/hosts.ini
remote_user        = ubuntu
host_key_checking  = False
timeout            = 30
retry_files_enabled = False

# Rôles
roles_path = roles

# Logging
log_path = /tmp/ansible.log

# Forks (parallélisme)
forks = 5

# Couleurs dans la sortie
force_color = True

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
